/* frontend/src/index.css */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Очень тёмный, но не абсолютно чёрный сине-серый фон */
  background-color: #111827; /* <-- Новый, более интересный цвет фона */
}

/* Этот псевдо-элемент мы пока оставим, но сделаем его полностью прозрачным.
  Он может пригодиться в будущем, если мы захотим добавить эффекты.
*/
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(13, 17, 23, 0); /* Прозрачный слой */
  z-index: -1;
}